body, ul {
    margin: 0;
    padding: 0;
}
body,html{
    /*height: 100%;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
ul li {
    list-style-type: none;
}
/*.slides-box {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.slides {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    float: left;
}
.slides li {
    position: absolute;
    width:  100%;
    height: 100%;
}
.slides li img{
    display: block;
    width: 100%;
    margin: auto;
}
.prev, .next {
    position: absolute !important;
    z-index: 99 !important;
    top: 50% !important;
    margin-top: -40px !important;
    left: 0 !important;
    height: 70px !important;
    width: 30px !important;
    color: #fff !important;
    cursor: pointer !important;
    background-color: #000 !important;
    filter:alpha(opacity=50) !important;
    -moz-opacity:0.5 !important;
    opacity:0.5 !important;
}
.prev:hover, .next:hover{
    filter:alpha(opacity=70);
    -moz-opacity:.7;
    opacity:.7;
}
.prev{
    background:#000 url("/images/icon/nav_bg.gif") 0 0 no-repeat !important;
}
.next {
    left: 96% !important;
    right: 0;
    background:#000 url("/images/icon/nav_bg.gif") -30px 0 no-repeat !important;
}
.pagination{
	position: absolute;
	bottom: 5px;
	z-index: 99;
}
.pagination li{
    padding: 29px 3px;
	float: left;
}
.pagination li a{
    display: block !important;
    width: 11px !important;
    height: 11px !important;
    line-height: 25px !important;
    border-radius: 25px !important;
    background: #fff !important;
	color: #fff !important;
    text-align: center !important;
    font-family: Arial !important;
	text-decoration: none !important;
}
.pagination .active{
	background: #931729 !important;
} */
