﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="CS.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
<script type = "text/javascript">
    //    $(document).ready(function () {
    //        $("#NavigationButtonNext").click(function () {
    //    $.ajax({
    //        type: "POST",
    //        url: "CS.aspx/GetCurrentTime",
    //        data: '{ }',
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: OnSuccess,
    //        failure: function(response) {
    //            alert(response.d);
    //        }
    //    });
    //        });
    //    });
    //function OnSuccess(response) {
    //    alert(response.d);
    //}

    $(document).ready(function () {


        //var HighlightData = '[["<span class=&quot;highlighted&quot;; style=&quot;background-color: rgb(246, 203, 150);&quot;></span>","Course Overview","1:2:0:0",0,15]]';
        //var PageName = "complete";
        //HighlightData = HighlightData.replace(/&quot;/g, '\\"');
        //alert(HighlightData);
        var PageName = 'http://htmlcontent:8080/index.html#FMItem1.1';
        var t = PageName.toString();

      
        $.ajax({
            type: "POST",
            url: "CS.aspx/GetQueryInfo",
            data: "{PageName: '" + t + "' }",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert('s');

                var objdata = JSON.stringify(data.d);
                alert(objdata.toString());
                //objdata = objdata.replace(//g, '');
                //alert(objdata.toString());
                objdata = objdata.replace(/\\/g, '');
                alert(objdata.toString());
                objdata = objdata.replace(/#/g, '\\"');
                alert(objdata.toString());
                objdata = objdata.slice(3, objdata.length-3);
                alert(objdata.toString());
                //var objdata = JSON.parse (data);
               // $.each(objdata, function (i, val) {
                    //alert(JSON.stringify(val));
                    //val = JSON.stringify(val);
                    //val = val.replace(/&quot;/g, '#');
                    //alert(val);
                    //val = JSON.stringify(val);
                    //alert(val);
                    //val = val.replace(/\\/g, '');
                    //alert(val);
                    //val = val.replace(/#/g, '\\"');
                    //alert(val);

                    // or

                   // alert(JSON.stringify(val));
                    //val = JSON.stringify(val);
                    //val = val.replace(/&quot;/g, '\\"');
                    //alert(val);






                //});

                // now iterate through this object's contents and load your gridview
            },
            failure: function (response) {
                alert(response.d);

            }
        });

        $("#NavigationButtonNext").click(function () {

            var HighlightData = '[["<span class="highlighted" style="background-color: rgb(246, 203, 150);"></span>","Course Overview","1:2:0:0",0,15]]';
            var PageName = "complete";
            $.ajax({
                type: "POST",
                url: "CS.aspx/Insertdata",
                data: "{PageName: '" + PageName + "', HighlightData: '" + HighlightData + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response.d);
                }
            });
        });
    });
    function OnSuccess(response) {
        alert(response.d);
    }
</script> 
</head>
<body style = "font-family:Arial; font-size:10pt">
<form id="form1" runat="server">
<div>
Your Name : 

<input id="NavigationButtonNext" type="button" value="Show Current Time" />
    
</div>
</form>
</body>
</html>
